{{ define "main" -}}
<article class="list-page">
{{ range .Data.Pages -}}
<article class="list-item">
<header>
  <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>{{ if .Params.subtitle }}<h4>{{ .Params.subtitle }}</h4>{{ end }}
</header>
<main>
  {{ .Summary }}
</main>
<footer>
  {{ partial "date.html" . }}
  {{ if .Params.tags }}
  <br />
  <ul>
    {{ range (.GetTerms "tags") }}
    <li><a class="tag" href="{{ .RelPermalink }}">{{ lower .LinkTitle }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</footer>
</article>
<hr />
{{- end }}
</article>
{{- end }}
