[![github](https://img.shields.io/badge/GitHub-{{ replace (.Get 0) " " "_" }}-blue?logo=github&link=https%3A%2F%2Fwww.github.com%2F{{ .Get 1 }}%2F{{ .Get 2 }})](https://www.github.com/{{ .Get 1 }}/{{ .Get 2}})
![stars](https://img.shields.io/github/stars/{{ .Get 1 }}/{{ .Get 2 }})
![commits](https://img.shields.io/github/commit-activity/t/{{ .Get 1 }}/{{ .Get 2 }})
![issues](https://img.shields.io/github/issues/{{ .Get 1 }}/{{ .Get 2 }})
![repo size](https://img.shields.io/github/repo-size/{{ .Get 1 }}/{{ .Get 2 }})
![license](https://img.shields.io/github/license/{{ .Get 1 }}/{{ .Get 2 }})
