{{ define "main" -}}
{{ .Content }}
<hr />

<div class="posts">
{{ $pages := where .Site.RegularPages "Type" "posts" }}
{{ $paginator := .Paginate $pages }}

<section class="tile-list">
{{ range $paginator.Pages }}
<article class="tile">
  {{ if .Params.tags }}
  <header>
      {{ range (.GetTerms "tags") }}
        <a class="tag" href="{{ .RelPermalink }}" class="section-tag">{{ lower .LinkTitle }}</a>
      {{ end }}
  </header>
  {{ end }}
  <main>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <h3>{{ .Description }}</h3>
  </main>
  <footer>
    {{ partial "date.html" . }}
  </footer>
</article>
{{ end }}

{{ template "_internal/pagination.html" . }}
</div>
</section>
{{ end }}
